footer(class="row")
		div(class="col-12")
			p(class="csf-footer-texto principal") Capital Solutions Fast
			p(class="csf-footer-texto") Puebla, Puebla
			p(class="csf-footer-texto") Teléfono: 01 (222) 1697923
			p(class="csf-footer-texto") Email: info@capitalsolutions.com
