doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title Capital Solutions Fast

	<!-- Bootstrap core CSS -->
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous")
		link(href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet")
		link(href="style.css" rel="stylesheet")
	<!-- Google Fonts -->
		link(href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Raleway" rel="stylesheet")

	body
		div
			<!-- Barra de Menu con Logo -->
			nav(class="row navbar navbar-expand-md fixed-top")
				a(href="index.html")
					img(class="img-responsive csf-logo" src="csf/logo.png")
				div(class="collapse navbar-collapse" id="navbarCollapse")
					ul(class="navbar-nav mr-auto")
						li(class="nav-item active")
							a(class="nav-link" href="http://capitalsolutionsfast.com/nuevo/financiamiento.html") Financiamiento
								span(class="sr-only" current)
						li(class="nav-item active")
							a(class="nav-link" href="home-categoria2.html") Servicios
								span(class="sr-only" current)
						li(class="nav-item active")
							a(class="nav-link" href="http://capitalsolutionsfast.com/nuevo/quienes-somos.html") Nosotros
								span(class="sr-only" current)
