include _header.pug

ection(class="row csf-section servicios")
	div(class="row csf-row-finan" id="arrendamiento")
		div(class="col-12 seccion2-titulo" id="")
			h1 Crédito
	div(class="row csf-texto-finan")
		div(class="col-12" )
			p(class="csf-texto") Cree, impulsa y desarrolla tu negocio, nosotros te apoyamos. Sabemos que tienes proyectos importantes para tu empresa que se deben concretar, por eso, solventamos tus necesidades de financiamiento a corto y mediano plazo, a través de una línea de crédito a tu medida y para el destino que más requieras. 
			p(class="csf-texto") Entendemos tu proyecto de negocio y te ofrecemos la solución más adecuada para impulsar el desempeño de tu empresa.

	div(class="row csf-texto-finan" id="credito-info")
		div(class="col-12")
			p(class="csf-texto") Ofrecemos:
		div(class="col-6")
			ul(class="csf-texto") 
				li Diferentes destinos de crédito.
				li Flexibilidad en plazo hasta 48 meses.
				li Tasas fijas.
		div(class="col-6")
			ul(class="csf-texto") 
				li Condiciones competitivas.
				li Una sola disposición ó ministraciones.
				li Posibilidad de realizar prepagos.

	div(class="row csf-texto-finan")
		div(class="col-3")
			h4 ¿Qué tipos de Créditos puedo obtener?
			p(class="csf-texto-sm") Capital Solutions Fast. te ofrece Créditos a corto y mediano plazo en su modalidad de Revolvente o Simple.
		div(class="col-3")
			h4 ¿Qué destino debe tener el Crédito que ofrecen?
			p(class="csf-texto-sm") Debido a que nos adaptamos a tus proyectos y necesidades el Crédito puede tener diferentes destinos.
		div(class="col-3")
			h4 ¿Qué plazos manejan?
			p(class="csf-texto-sm") En Capital Solutions Fast. podemos ofrecerte planes de 6, 12, 18, 24, 36 y 48 meses, con pagos fijos en moneda nacional, ajustándonos siempre a tus necesidades.
		div(class="col-3")
			h4 ¿Qué tasas manejan?
			p(class="csf-texto-sm") Las tasas se fijan de acuerdo al destino del crédito, plazo y en su caso las garantías ofrecidas así como a la situación financiera del solicitante.





include _footer.pug