include _header.pug


section(class="row csf-section servicios")
	div(class="row csf-row-finan" id="")
		div(class="col-12 seccion2-titulo" id="")
			h1 Factoraje
	div(class="row csf-texto-finan")
		div(class="col-12")
			p(class="csf-texto") Tu empresa no se puede detener, convierte tus cuentas por cobrar en efectivo. En Capital Solutions Fast cubrimos tus necesidades de Capital de Trabajo para que cuentes con la liquidez que requiere tu empresa para crecer, convirtiendo tus cuentas por cobrar en efectivo. 
			p(class="csf-texto") El Factoraje es un financiamiento ágil que te permite tener acceso a Capital de Trabajo sin recurrir a los créditos bancarios tradicionales ni a garantías reales para que puedas contar con recursos frescos para tus gastos de operación, así como aprovechar las oportunidades de nuevos negocios, por medio de un trámite sencillo y ágil.
		div(class="col-12")
			ul(class="csf-texto csf-ofrecemos") Ofrecemos: 
				p
				li Convertir tus cuentas por cobrar en efectivo.  
				li Atractivas condiciones.
				li Costo deducible de impuestos.
	div(class="row csf-row-finan2" id="fctoraje-financiero")
		div(class="col-12")
			h3 Factoraje Financiero
			p(class="csf-texto-sm") Es un mecanismo de financiamiento a corto plazo mediante el cual una empresa comercial, industrial, de servicios o persona física con actividad empresarial, promueve su crecimiento a partir de la venta de sus cuentas por cobrar vigentes a una empresa de factoraje.

	div(class="row csf-row-finan2" id="")
		div(class="col-12")
			h3 ¿Qué ventajas me ofrece el Factoraje?
		div(class="col-6")
			ul(class="csf-texto-sm")
				li Proporciona liquidez en función de sus ventas.
				li Nivela flujos de efectivo en caso de ventas estacionales.
				li Permite una operación revolvente.
				li Reduce el apalancamiento financiero.
				li Optimiza costos financieros.
		div(class="col-6")
			ul(class="csf-texto-sm")
				li Reduce el ciclo operativo de su empresa.
				li No genera pasivos ni endeudamiento.
				li Disminuye costos en áreas de crédito y cobranza.
				li Apoya la recuperación de su cartera y el pago puntual de sus clientes.
		hr
	div(class="row csf-row-finan2" id="")
		div(class="col-12")
			h3 ¿Cómo funciona el Factoraje?
			p(class="csf-texto-sm") La empresa de Factoraje realiza las siguientes actividades:
			ul(class="csf-texto-sm")
				li Adquiere las cuentas por cobrar a través de un contrato de cesión de derechos de crédito o por endoso, pagándolas anticipadamente a su cliente conforme a las condiciones establecidas.
				li Evalúa las condiciones crediticias de los deudores (compradores de los productos o servicios) e informa a sus clientes de los cambios en la solvencia de los mismos.
				li Custodia, administra y lleva a cabo las gestiones de cobranza de la cartera adquirida.
				li Reembolsa al cliente el remanente en caso de que no existan descuentos, devoluciones de mercancía o ajustes en el pago.
				li Informa a sus clientes todas las operaciones, movimientos y cobranza de sus cuentas.

	div(class="row csf-row-finan2" id="")
		div(class="col-12")
			h3 ¿Qué tasas manejan?
			p(class="csf-texto-sm") Las tasas se fijan de acuerdo al plazo así como a la situación financiera del solicitante y del pagador de las facturas descontadas.



include _footer.pug