include _header.pug

section(class="row csf-section servicios")
	div(class="row csf-row-finan" id="arrendamiento")
		div(class="col-12 seccion2-titulo" id="")
			h1 Financiamiento
		div(class="col-5") 
			img(class="csf-img-sector" src="imagenes/retroescavadora.jpg")
		div(class="col-7 csf-texto-finan")
			h1(class="h3-sector") Arrendamiento
			p(class="csf-texto") Mantén a tu empresa al día en equipamiento, sin afectar la Liquidez y el Capital de Trabajo con nuestro Arrendamiento. 
			p(class="csf-texto") Si de equipamiento para tu Empresa se trata, en Capital Solutions Fast. contamos con la solución adecuada con esquemas de Arrendamiento Puro y Financiero donde te otorgamos en renta el activo que necesitas.
			p(class="csf-texto") El arrendamiento es un medio eficiente para mejorar tu flujo de efectivo y conservar intacto el capital de trabajo.

		hr
	div(class="row csf-row-finan2")
		div(class="col-6")
			p(class="csf-texto") No importa qué tan grande o pequeño sea tu negocio, el arrendamiento puede jugar un papel muy importante en el futuro de tu empresa.
			p(class="csf-texto") Ofrecemos una respuesta ágil e inmediata y puesta en marcha de los bienes arrendados.
		div(class="col-6")
			ul(class="csf-texto")
				li Automóviles
				li Vehículos Pesados y Ligeros
				li Maquinaria; Mineria, Construcción, Transporte, etc.
				li Equipo de Cómputo y Tecnológico, Mobiliario.
				li Equipo Médico y de Laboratorio.



include _footer.pug