include _header.pug

section(class="row csf-section proceso")
	div(class="row csf-row-finan" id="")
		div(class="col-12 seccion2-titulo" id="")
			h1 Proceso

	div(class="row csf-texto-finan etapa1")
		div(class="col-12 ")
			h3 Etapa 1.‐ Estudio de Factibilidad
		div(class="col-12 etapa-texto")
			p(class="csf-texto") En esta etapa realizamos un estudio de factibilidad (previo al trámite), para determinar la probabilidad de que su empresa pueda acceder a alguna de las fuentes financieras con que contamos, para lo cual requerimos:
			ol(class="csf-texto-sm") 
				li Firmar Contrato de Confidencialidad Mutua.
				li Documentación informativa Básica de su Empresa.
			p(class="csf-texto") Si en los resultados de nuestro estudio de factibilidad se observa que la empresa califica para apoyar con financiamiento, se le solicitará la documentación y/o los elementos adicionales y necesarios para continuar con la Etapa 2, además de informarle el costo de nuestros honorarios por la Prestación de Servicios Profesionales para la Gestión de Recursos Financieros y los posibles términos y condiciones del financiamiento (monto, tasa de interés, plazo, etc.).
			h4 Costos de la Etapa 1
			p(class="csf-texto") El trabajo que desarrollamos en esta etapa No Tiene Costo. Gastos de Traslado: Sin Costo en la Cd. de Puebla, Pue., solo en el caso de que nos solicite que acudamos a otra localidad, requerimos los gastos de viaje y viáticos.


	div(class="row csf-texto-finan etapa2")
		div(class="col-12 ")
			h3 Etapa 2.‐ Gestión de Recursos Financieros
		div(class="col-12 etapa-texto")
			p(class="csf-texto") En esta etapa integramos el expediente completo para Gestionar los Recursos Financieros ante la fuente financiera que en la etapa anterior resulto ser la más adecuada en términos de monto, tasa de interés, plazo, etc., para lo cual requerimos:
			ol(class="csf-texto-sm") 
				li Firmar Contrato de Prestación de Servicios Profesionales para la Gestión de Recursos Financieros.
				li Documentación Complementaria de su Empresa.
			h4 Costos de la Etapa 2
			p(class="csf-texto") El trabajo que desarrollamos en esta etapa Tiene Costos por concepto de Prestación de Servicios Profesionales para la Gestión de Recursos Financieros y por el trabajo adicional que en su caso tengamos que realizar (ej; Plan de Negocios, Corridas Financieras, etc.). 
			p(class="csf-texto") Para determinar el costo por la Prestación de Servicios Profesionales para la Gestión de Recursos Financieros y el costo por el trabajo adicional a realizar deberemos primeramente contar con la documentación complementaria de su empresa y así poder determinarlo. Gastos de Traslado: Sin Costo en la Cd. de Puebla, Pue., solo en el caso de que nos solicite que acudamos a otra localidad, requerimos los gastos de viaje y viáticos.






include _footer.pug