include _header.pug


section(class="row csf-section quienes-somos")
	h1 Conócenos

	p(class="csf-texto sec") Los integrantes de Capital Solutions Fast, somos profesionistas que laboramos con instituciones bancarias y empresas de la iniciativa privada, desempeñando cargos directivos. Posteriormente nos dedicamos al otorgamiento de consultoría financiera en forma independiente cada uno y en algunos casos con participación conjunta en la elaboración de varios trabajos, obteniendo resultados exitosos para nuestros clientes; razón por la cual decidimos conjuntar nuestra capacidad, experiencia e inversión para constituir Capital Solutions Fast.

	div(class="col-6")
		h3 Misión
		p(class="csf-texto sec") Otorgar la prestación de servicios profesionales en la gestión de financiamientos, que excedan las expectativas de nuestros clientes, mediante profesionalescon conocimientos actualizados, que apoyen a las empresas con soluciones financieras en un ambiente de ética, respeto, honestidad y armonía.
	div(class="col-6")
		h3 Visión
		p(class="csf-texto sec") Ofrecer servicios profesionales a nuestros clientes en forma integral, de tal forma que realicen negocios redituables y mantengan competitividad y producción para nuestro país, además de que generen fuentes de trabajo con un alto valor social.

include _footer.pug