include _header.pug

div(class="container-fluid")
	section(class="row csf-section sectores seccion2")
		div(class="col-12 seccion2-titulo")
			h1 Sectores
		div(class="row")
			div(class="col-4")
				img(class="csf-img-sector" src="imagenes/hotel-beach.jpg")
			div(class="col-8 seccion2-h2")
				h3 Hotelero
				ul(class="csf-texto")
					li Producto único y flexible que permite al Sector Hotelero solventar todas sus necesidades de Liquidez, Equipamiento y Crecimiento. 
					li Equipamiento, vehículos, mobiliario, maquinaria, capital de trabajo, remodelación, ampliación, construcción de segundas instalaciones, entre otras.
					li Arrendamiento Puro, Financiero, Leaseback ó Crédito, de acuerdo a las necesidades del cliente y el destino del crédito.
				
		div(class="row")
			div(class="col-4")
				img(class="csf-img-sector" src="imagenes/university-library.jpg")
			div(class="col-8 seccion2-h2")
				h3 Educación
				ul(class="csf-texto")
					li En un sector con gran crecimiento se requieren soluciones dinámicas de financiamiento.
					li Equipamiento, vehículos, mobiliario, equipo de cómputo, impresión y video, capital de trabajo, remodelación, ampliación, construcción de segundas instalaciones y más.
				
		div(class="row")
			div(class="col-4")
				img(class="csf-img-sector" src="imagenes/medical-emergency-room.jpg")
			div(class="col-8 seccion2-h2")
				h3 Salud
				ul(class="csf-texto")
					li Diseñado para el Sector Salud ayuda a aliviar las necesidades de Liquidez, Equipamiento y Crecimiento.
					li Equipamiento, mobiliario, instrumental, equipo de diagnóstico y de tratamiento, capital de trabajo, remodelación, ampliación, construcción.
				
		div(class="row")
			div(class="col-4")
				img(class="csf-img-sector" src="imagenes/gas-pumping.jpg")
			div(class="col-8 seccion2-h2")
				h3 Gasolina
				ul(class="csf-texto")
					li Producto diseñado especialmente para la modernización, adquisición de equipo, vehículos, capital de trabajo y construcción de segunda ó posterior estación en este ramo.


include _footer.pug