include _header.pug

section(class="row csf-section sectores seccion2")
	div(class="col-12 seccion2-titulo")
		h1 Sectores
	div(class="col-3")
		img(class="csf-img-sector" src="imagenes/hotel-beach.jpg")
	div(class="col-6 seccion2-h2")
		h3 Hotelero
include _footer.pug